---

---

<h1>Info</h1>
<button id="myButton">Click me!</button>

<script is:inline>
    document
        .getElementById('myButton')
        .addEventListener('click', () => {
            alert('Ouch!');
        })
</script>